<ion-view view-title="MAPA">
	<ion-content delegate-handle="mainScroll">
		<style type="text/css">
			.angular-google-map-container { height: 60vh; }
		</style>
		<ul  class="list">
			<li class="item">
				<ui-gmap-google-map center='map.center' zoom='map.zoom' data-tap-disabled="true">
					<ui-gmap-markers models="puntos" coords="'self'" icon="'icon'" 
						options="'options'" click="mostrarDatos"  >
					</ui-gmap-markers>
					<ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" 
						visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
					</ui-gmap-polyline>
				</ui-gmap-google-map>
			</li>
			<li class="item" ng-show="ordenSelected">
				<h2>Detalle del Pedido</h2>
      			<p>
      				<table>
      					<tr ng-repeat="producto in ordenSelected.detail">
      						<td>{{producto.cantidad}}</td>
      						<td> - </td>
      						<td>{{producto.producto.presentacion}}</td>
      					</tr>
      				</table>
      			</p>
      		</li>
			<li class="item" ng-show="ordenSelected">
				<h2>TOTAL DE LA COMPRA</h2>
      			<p>{{ordenSelected.totalCompra | currency}}</p>
      		</li>
			<li class="item" ng-show="ordenSelected">
				<h2>Nombre del Cliente</h2>
      			<p>{{ordenSelected.nombre}} {{ordenSelected.ap_pat}} {{ordenSelected.ap_mat}}</p>
      		</li>
      		<li class="item" ng-show="ordenSelected">
				<h2>Dirección</h2>
      			<p>{{ordenSelected.direccionCompleta}}</p>
      		</li>
      		<li class="item" ng-show="ordenSelected">
				<h2>Modelorama mas cercano</h2>
      			<p>{{ordenSelected.modelorama.direccion}}</p>
      		</li>
		</ul>
		<div ng-show="ordenSelected">&nbsp;</div>
	</ion-content>
</ion-view>
