<ion-view view-title="MAPA">
	<ion-content>
		<H3>Mapa</H3>
		<style type="text/css">
			.angular-google-map-container { height: 75vh; }
		</style>
		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-markers models="puntos" coords="'self'" icon="'icon'"></ui-gmap-markers>
			<ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" 
				visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
			</ui-gmap-polyline>
		</ui-gmap-google-map>
	</ion-content>
</ion-view>
