<ion-view view-title="MIS PEDIDOS">
	<ion-content>
		<div ng-show="pedidos.length <= 0"> No tienes pedidos </div>
		<div class="list" ng-show="pedidos.length > 0">
	        <a class="item item-avatar" ng-repeat= "pedido in pedidos" 
	           href="#/app/mapa" ng-click="goMapa($index)">
		      <img src="img/modelorama.jpg">
		      <h2>Pedido {{pedido.totalCompra | currency}}</h2>
		      <p>{{pedido.nombre}}</p>
		      <p>Dirección: {{pedido.direccionCompleta}}</p>
		      <p>
		      	Detalle<br/>
		      	<table style="font-size:11px;">
		      		<tr ng-repeat="orden in pedido.detalle">
		      			<td>{{orden.cantidad}}</td>
		      			<td> - </td>
		      			<td>{{orden.nombre}} {{orden.presentacion}}</td>
		      		</tr>
		      	</table>
		      </p>
		    </a>
	 	</div>
	</ion-content>
</ion-view>
